/* ========================================================================== */
/* uducada - form.css - https://github.com/m5n/uducada                        */
/* ========================================================================== */
/* Non-UI framework specific form styling.                                    */
/* ========================================================================== */

label,
input[type="text"],
textarea,
.count-text,
.instruction-text,
.required-text,
.validation-text {
    display: block;
}

.required-text,
.validation-text {
    display: none;
}

.uducada-validation-failed,
/* .count-text should be independent of general validation set on label element
   so that when user corrects input, failed color on .count-text disappears
   because of override below. */
.count-text.uducada-validation-failed {
    color: red;
}

.instruction-text,
.count-text {
    font-size: smaller;
    color: black;   /* Overrides label.uducada-validation-failed color. */
}
